* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b0b8ab;
    font-family: Arial, sans-serif;
}

button {
    padding: 1% 2%;
    font-size: 1.2em;
    border-radius: 8px;
    border-color: #b0b8ab;
}

input {
    padding: 1%;
    font-size: 1.2em;
    width: 200px;
    border-radius: 8px;
    border-color: #b0b8ab;
}

.container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}

.head-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f0f0f0;
    margin-block: 20px;
    padding-block: 20px;
}

.body-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.body-container {
    gap: 20px;
    margin-bottom: 20px;
}

.body-plain-text {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.post-card {
    background-color: #f0f0f0;
    padding: 25px;
    border-style: dotted;
    border-width: 5px;
    border-color: #b0b8ab;
    border-radius: 15px;
}

.post-title {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.post-body {
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 568px) {
    .body-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (max-width: 568px) {
    input,
    button {
        width: 90%;
        padding: 10px;
    }

    .head-container {
        flex-direction: column;
        align-items: center;
    }

    .body-container {
        display: flex;
        flex-direction: column;
    }

    .post-card {
        padding: 15px;
    }

    .post-title {
        font-size: 1.1em;
    }

    .post-body {
        font-size: 1em;
    }
}